
.ContenedorPrincipal {
    background: rgb(172, 172, 172);
    display: flex;
    max-width: 900px; 
    height: auto;
    margin: auto auto;
    border-radius: 10px;
}

span{
    color: rgb(0, 0, 0);
}

.input_login{
    padding-top: 50px;
}

.button-login{
    margin:20px ;
    border-radius: 12px;
    padding: 8px;
    font-size: 18px;
    border : 2px solid #333;
}


.button-login:hover{
    background-color: black;
    color: white;
    border : 2px solid #000000;
}
/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .ContenedorPrincipal {
        flex-direction: column;
        margin: 10px; 
    }
}